/Gallery/bin/
/Gallery/obj/
/MenuExample/bin/
/MenuExample/obj/
/VirtualKeyboards/bin/
/VirtualKeyboards/obj/
/GeoCoding/bin/
/GeoCoding/obj/
/NetworkDetection/bin/
/NetworkDetection/obj/
/DialogFragmentSample/bin/
/DialogFragmentSample/obj/
/9PatchButton/bin/
/9PatchButton/obj/
/StyleExample/bin/
/StyleExample/obj/